@keyframes text-shadow-pop-left {
0% {
    text-shadow: 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color), 0 0 var(--primary-color);
    transform: translateX(0);
    }
100% {
    text-shadow: -1px 0 var(--primary-color), -2px 0 var(--primary-color), -3px 0 var(--primary-color), -4px 0 var(--primary-color), -5px 0 var(--primary-color);
    transform: translateX(8px);
    }
}

@keyframes slide-in-blurred-top {
    0% {
      transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
      transform-origin: 50% 0%;
      filter: blur(40px);
      opacity: 0;
    }
    100% {
      transform: translateY(0) scaleY(1) scaleX(1);
      transform-origin: 50% 50%;
      filter: blur(0);
      opacity: 1;
    }
  }

@keyframes slide-in-blurred-right {
0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0;
    }
100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
    }
}


:root {
    --background-color: rgb(12, 34, 64);
    --primary-color: rgb(43, 110, 151);
    --w: rgb(255,255, 255) 
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: Ebrima;
    margin: 0 auto;
    padding: 15px;
    padding-top: 0px;
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 70px 0 auto;
    margin-bottom: 20px;
}

#nome {
    animation: text-shadow-pop-left 1.5s both;
    margin-left: 150px;
    line-height: 100px;
    color: var(--w);
    letter-spacing: 2px;
    z-index: -1;
}

p, ul {
    color: var(--w);
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

h1 {
    font-size: 100px;
}

.foto {
    border-radius: 50%;
    width: 285px;
    height: 285px;
    margin-right: 150px;
    border: 5px solid var(--primary-color);
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    z-index: -1;
}

hr {
    border: 1px solid var(--w);
    width: 200%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.botao {
    position: fixed;    
    list-style: none;
    font-weight: bold;
    display: flex;
    gap: 175px;
    left: 50%;
    transform: translateX(-50%);
}

ul {
    background-color: var(--primary-color);
    padding: 12px 0px;
    top: 0%;
    width: 100%;
    justify-content: center;
}

li {
    border: 2px solid var(--background-color);
    border-radius: 20px;
    transition: background-color 1s;
    padding: 3px 9px;
}

.botao li:hover {
    background-color: var(--background-color);
    cursor: pointer;
}

section {
    min-height: 1000px;
    color: var(--primary-color);
    margin: 55px 0 0 75px;
    scroll-margin-top: 75px;
}

.center {
    display: flex;
    justify-content: center;
    animation: slide-in-blurred-right 1s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    position: relative;
    z-index: -1;
}


h3 {
    color: var(--w);
    font-size: 26px;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    padding: 3px 9px;
    margin-top: 0;
}

.container {
    display: flex;
    justify-content: center;
}

h4 {
    color: var(--w);
    font-size: 20px;
    border: 2px solid var(--w);
    border-radius: 20px;
    padding: 3px 9px;
    margin: 10px 0 10px 0;
}

p {
    font-size: 20px;
    max-width: 1000px;
    text-align: justify;
    margin: 10px 7% 30px 7%;
    font-weight: lighter;
}